.container-fluid{
    height: 100vh;
    width: 100%;
}

.container-fluid > div{
    height: 100%;
}

.image-part{
    background-image: url(../../images/bank.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-part{
    height: 100%;
}

.logo-name{
    color: #f33f3f !important;
    font-weight: bold;
}



@media only screen and (max-width: 992px) {
    .image-part{
        display: none;
    }
}
